html {
    box-sizing: border-box;
    font-family: 'helvetica', 'arial', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #303030;
    margin: 0;
    color: #ECEDEF;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    color: #FFEB70;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr.hr-thick {
    display: block;
    position: relative;
    padding: 0;
    margin: 10px auto;
    margin-top: 40px;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 5px solid #FFEB70;
    border-bottom: 5px solid #FFEB70;
}

h1.name {
    font-size: 100px;
    font-weight: bold;
    letter-spacing: -5px;
    color: #24272D;
    text-transform: uppercase;
    height: 90px;
    opacity: .9;
}

h2 {
    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    letter-spacing: 1px;
    justify-content: center;
    text-align: center;
    margin: 30px 0 20px 0;
}

h3 {
    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 10px;
    color: #FFEB70;
}

h4 {
    
}

span.emoji {
    font-size: 50px;
    margin-right: 10px;
}

.hl {
    color: #FFEB70;
}

nav {
    height: 60px;
    background: #24272D;
    width: 100%;
    position: sticky;
    z-index: 1;
    top: 0;
}

body.fixed-nav nav {
    position: fixed;
    box-shadow: 0px 0px 15px #24272D; 
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav li {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

li.logo {
    height: 100%;
    max-width: 0;
    overflow: hidden;
    transition: all 0.35s;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
}

.fixed-nav li.logo {
    max-width: 500px;
}

nav a {
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    color: #ECEDEF;
    opacity: .7;
    transition: all 0.2s;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
}

nav a:hover {
    opacity: 1;
    background-color: #000;
    text-decoration: none;
}

div.wrapper {
    width: 100%;
    padding: 20px;
}

div.content {
    margin: 0px auto;
    max-width: 700px;
}

div.about-banner {
    margin-top: 50px;
}

p.summary {
    margin: 0 auto;
    text-align: justify;
    flex: 1;
    font-size: 20px;
    line-height: 25px;
}

div.about-list {
    display: flex;
    margin: 25px 0 25px 0;
}

div.about-card {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

div.card {
    flex: 1;
}

.card ul {
    font-size: 18px;
}

.card li {
    line-height: 28px;
    /*list-style-type: disc;*/
    padding-left: 2em;
}

div.headshot-circle {
    margin: 0 auto;
    height: 205px;
    width: 205px;
    border-radius: 50%;
    background-color: #ECEDEF;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0px 0px 15px #24272D;
}

img.headshot-img {
   width: 180px;
   height: 180px;
}

div.projects-banner {
    max-width: 700px;
    margin: 0 auto;
}

div.projects-container {
    display: flex;
}

div.projects-item {
    flex: 1;
    max-width: 30%;
    margin: 20px auto;
    box-shadow: 0px 0px 15px #24272D;
    transition: all .2s;
}

div.projects-item a:hover {
    text-decoration: none;
}

.projects-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px 2px #24272D;
}

.projects-item img {
    width: 100%;
}

div.projects-item-calc {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 2.3em;
    font-weight: 900;
    color: #423C3C;
    background-image: linear-gradient(to right, #ffdea6 0%, #fcb69f 100%);
}

footer {
    width: 100%;
    padding: 30px;
    justify-content: center;
}

div.icon-box {
    text-align: center;
}

a.share-icons {
    margin: 8px;
    color: #ECEDEF;
    opacity: .4;
    transition: all .2s ease;
}

a.share-icons:hover {
    opacity: .8;
    text-decoration: none;
}

footer p {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
    opacity: .3;
}

@media only screen and (max-width: 750px) {
    .content { max-width: 100%; }
    .fixed-nav li.logo { max-width: 0px;}
}

@media only screen and (max-width: 500px) {
    li.logo { font-size: 10px; }
    nav li { font-size: 12px; }
    h2 {
        font-size: 50px;
        padding: 0; 
    }
    span.emoji { font-size: 35px; }
    div.card { max-width: 50%; }
    h3 { font-size: 23px; }
    .card li { font-size: 14px; }
}
