:root {
    --bg: #000;
    --text: rgba(236, 237, 239, .8);
    --text-alt: rgba(236, 237, 239, .6);
    --text-dark: rgba(255,255,255,0.3);
}
html {
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
}

body {
    background-color: var(--bg);
    margin: 0;
    color: var(--text);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    color: var(--text);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: var(--text-alt);
}

h1 {
    text-transform: lowercase;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: .3rem;
    margin-right: -.3rem;
    margin-bottom: .3rem;
}

footer {
    color: var(--text-dark);
    padding-bottom: 1rem;
    font-size: .7rem;
}

.time {
    padding-top: 1rem;
    font-size: .7rem;
    color: var(--text-dark);
}

.time a {
    color: var(--text-dark);
    text-transform: lowercase;
}

.banner-img {
    height: 400px;
    opacity: 0.7;
    flex: 1;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.banner {
    display: flex;
    flex-direction: row;
    width: 100%; 
}

.spacer {
    flex: 1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, .5);
    padding: 1rem;
}

.menu {
    display: flex;
    text-align: right;
    padding-top: 1rem;
}

.menu ul {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu li {
    text-transform: lowercase;
    font-size: .8rem;
}


